body{
  padding-top: 60px;
  padding-left: 60px;
  background-color: rgb(250, 244, 244);
}

/* header section*/

.header-container{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 55px;

  background-color: white;
  border-bottom: 1px solid rgb(214, 212, 212);
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
}

.left{
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-menu{
  width: 70%;
  flex: 1;
}

.menu-container{
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.youtubeicon-container{
  width: 120px;
  height: 30px;
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.icon{
  flex: 1;
  width: 100%;
}

.middle{
  display: flex;
  flex: 1;
  justify-content: center;
}

.search_bar{
  align-items: center;
  border: 1px;
  border-style: solid;
  border-color: rgb(221, 217, 217);
  box-shadow: inset 1px 2px 5px rgb(0,0,0,0.3);
  border-radius : 2px;
  padding-left: 20px;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

.search_bar::placeholder{
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.search-button{
  height: 34px;
  width : 40px;
  border: none;
  border-color: rgb(221, 217, 217);
  background-color: rgb(221, 217, 217);
  margin-left: -2px;
}

.search-icon{
  height: 27px;
  width : 20px;
  object-fit : contain;
}


.mic-icon{
  height: 27px;
  width : 20px;
  object-fit: contain;
}

.mic-button{
  height: 34px;
  width : 35px;
  margin-left: 11px;
  border-radius: 18px;
  border: none;
  border-style: solid;
  border-color: rgb(221, 217, 217);
  background-color : rgb(221, 217, 217);
}
.right{
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;
}

.add-video-container{
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
}
.add-video-icon{
  flex: 1;
  width: 100%;
}

.notification-container{
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
}
.notification-icon{
  width: 80%;
  flex: 1;
}

.menu-container{
  width: 27px;
  height: 27px;
  align-items: center;
}
.menu-icon3x3{
  width: 90%;
  flex: 1;
}


.usericon-container{
  width: 27px;
  height: 27px;
  align-items: center;
 
}
.user-icon{
 width: 100%;
 flex: 1;
 border-radius: 20px;
}

/* sidebar */
.sidebar-container{
  position: fixed;
  top: 55px;
  left: 0px;
  bottom: 0px;
  width: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-right: 1px solid rgb(214, 212, 212);
}



.homeIcon-container{
  width: 27px;
  height: 27px;
  flex: 1;
  padding-top: 20px;
}
.homeIcon{
  width: 100%;
  object-fit: contain;
}


/* body section*/

.video_grid{
  display: grid;
  grid-template-columns:repeat(4,1fr);
  column-gap: 15px;
  row-gap:20px;
}

.thumbnail{
  width: 100%;
}

.channel_icon{
  width: 36px;
  height: 33px;
  border-radius: 300px;
  object-fit: cover;
}

.info_grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}


p{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 400;
  margin : 0px;

}

.video_title{
  font-weight: 700;
  margin: none;
  font-size: 15px;
  margin-bottom: 3px;
}

.channel_name{
  font-size: 12px;
  font-weight: 500;

}