.search_bar{
  display: block;
  margin-bottom: 30px;
}

.video_container{
  width: 300px;
  height: 270px;
  object-fit: contain;
  display: inline-block;
  margin-right: 20px;
}

.thumbnail{
  width: 300px;
  height: 170px;
  object-fit: cover;
}

.channel_icon{
  width: 46px;
  height: 43px;
  border-radius: 300px;
  object-fit: cover;
}

.channel_iconContainer{
  width: 55px;
  height: 126px;
  vertical-align: top;
  display: inline-block;
}

.channel_details{
  width: 230px;
  height: 126px ;
  margin: none;
  padding: none;
  vertical-align: top;
  display: inline-block;
}

p{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 400;
  margin: 0px;
  margin-bottom: 5px;
}

.video_title{
  font-weight: 700;
  margin: none;
  font-size: 17px;
  margin-bottom: 15px;
}

.channel_name{
  font-size: 14px;
  font-weight: 500;
}